/* 1. Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Mozilla+Headline:wght@200..700&family=Oswald:wght@200..700&display=swap');
/* 2. Set the universal default */

*{
    margin: 0;
    padding: 0;
}
/* 2. Set the universal default */
body {
  font-family: "Alan Sans", sans-serif; /* Setting Alan Sans as default */
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  margin: 0;
}

/* 3. Create helper classes for specific use-cases (like headings) */
h1, h2, h3, .oswald-text {
 font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-size-xxl {
  font-size: 3rem; /* Example size for extra extra large text */
}